# This file belongs to the resource delete step.
apiVersion: chainsaw.kyverno.io/v1alpha1
kind: Test
metadata:
  name: delete
spec:
  timeouts:
    exec: {{ .TestCase.Timeout }}
  steps:
  - name: Delete Resources
    description: Delete resources. If needs ordered deletion, the pre-delete scripts were used.
    try:
    - script:
        content: |
        {{- range $resource := .Resources }}
        {{- if eq $resource.KindGroup "secret." -}}
          {{continue}}
        {{- end -}}
        {{- if $resource.PreDeleteScriptPath }}
          {{ $resource.PreDeleteScriptPath }}
        {{- end }}
        {{- if $resource.Namespace }}
          ${KUBECTL} delete {{ $resource.KindGroup }}/{{ $resource.Name }} --wait=false --namespace {{ $resource.Namespace }} --ignore-not-found
        {{- else }}
          ${KUBECTL} delete {{ $resource.KindGroup }}/{{ $resource.Name }} --wait=false --ignore-not-found
        {{- end }}
        {{- if $resource.PostDeleteScriptPath }}
          {{ $resource.PostDeleteScriptPath }}
        {{- end }}
        {{- end }}
  - name: Assert Deletion
    description: Assert deletion of resources.
    try:
    {{- range $resource := .Resources }}
    {{- if eq $resource.KindGroup "secret." -}}
      {{continue}}
    {{- end }}
    - script:
        content: |
          ${KUBECTL} wait {{ if $resource.Namespace }}--namespace {{ $resource.Namespace }} {{ end }}--for=delete {{ $resource.KindGroup }}/{{ $resource.Name }} --timeout {{ $.TestCase.Timeout }}
    {{- end }}
    {{- if not .TestCase.OnlyCleanUptestResources }}
    - script:
        content: |
          ${KUBECTL} wait managed --all --for=delete --timeout -1s
    {{- end }}
    {{- if .TestCase.TeardownScriptPath }}
    - command:
        entrypoint: {{ .TestCase.TeardownScriptPath }}
    {{- end }}
